<% @gyms.each do |gym| %>
  <h3 class="arimo"><%= link_to gym.name, gym, class: "arimolink" %><h3>
<% end %>
<h3 class="arimo"><%= link_to "Add New Climbing Center", new_gym_path, class: "arimolink add" %></h3>
